#header {
  .anada-navigation {
    height: 80px;
    position: fixed;
    z-index: 3;

    img {
      height: 80px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .nav {
      margin-left: 300px;
      .hamburger{
        position: absolute;
        top: 30px;
    right: -100px;
    cursor: pointer;
      }

      .dropdown {
        margin-top: 30px;
        position: relative;
        display: inline-block;
        margin-left: 25px;
        cursor: pointer;
        &:hover .dropdown-content {
          display: block;
        }
        &:hover p {
          color: $primary-color;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;

        li {
          list-style: none;
          width: 180px;
          &:hover {
            cursor: pointer;
          }
          a {
            color: $text-color;
            transition: 0.7s all;
            &:hover {
              text-decoration: none;
              color: $primary-color;
            }
          }
        }
      }
      // sidebar have been created

     
      .sidebar{
        width: 422px;
        height: 1000px;
            background-color: white;
            opacity:1;
            z-index: 3;
            overflow-y: auto;
        .close{
          cursor: pointer;
          
        }
        .widget{
          margin-top: 40px;
          margin-left: 40px;
          li{
            line-height: 40px;
            list-style: none;
          }
          .icon-info{
            display: flex;
            
            i{
              color: $primary-color;
              margin-right: 15px;
              margin-top:15px ;
            }
          }
        }
        .widget-social{
          ul{
            display: flex;
            flex-wrap: nowrap;
            li{
              margin: 10px;
              list-style: none;
             i{
               padding: 10px;
               border-radius: 5px;
               color: white;
             }
            }
          }
          
        }
        
      }
     
    }
  }
}
