@media screen and (max-width: 768px) {
  #header {
    .hamburger2{
        display: block;
        position: absolute;
        top: 1rem;
        left: 12rem;
    }
   
  .anada-navigation {
      .logo-light{
         position:absolute;
         top: 0rem;
         left:25rem;
      }
    .nav {
      .dropdown {
        display: none;
      }
      .search {
        position: absolute;
        top: 1rem;
        right: -33rem;
      }
      .hamburger {
        position: absolute;
        top: 1rem;
        right: -30rem;
      }
    }
  }
}
.box{
 max-width: 100%;
}
}
