/// colors///
$primary-color:#437eeb;
$secondary-color:#f4f7fc;
$text-color:#666666;

///Font-families///


///Font-sizes///
$title-sizes: (
  "h1": 40,
  "h2": 35,
  "h3": 28,
  "h4": 22,
  "h5": 18,
  "h6": 16,
);

