// overflow has been hidden horizontally

body {
  overflow-x: hidden;
}

#first-section {
  background: linear-gradient(
    90deg,
    rgba(244, 247, 252, 1) 36%,
    rgba(255, 255, 255, 1) 100%
  );
  margin-bottom: 50px;
  .double-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    margin: 50px;
    .info {
      span {
        margin-bottom: 50px;
      }
      h2 {
        font-size: 36px;
        line-height: 1.2;
        font-weight: 800;
        margin-bottom: 30px;
      }
      p {
        color: #666666;
        line-height: 28px;
        margin: 0 0 15px;
        text-transform: none;
        font-weight: 400;
      }
    }
  }
}

#second-section {
  background: url("http://thememine.net/themeforest/anada/assets/img/shape/6.svg");
  background-size: cover;
  img {
    border: none;
    outline: none;
    max-width: 100%;
    vertical-align: middle;
  }

  .crusader .item {
    height: 20rem;
    padding: 1rem;

    border-bottom: 3px solid #437eeb;
    box-shadow: 0 0 10px #cccccc;
    background: #ffffff;
    border-radius: 10px;

    .icon {
      font-size: 70px;
    }
    h4 {
      font-weight: 700;
      margin-bottom: 25px;
    }
  }
}
//// cards have been created but there is still problems such as downloading flaticon
#fifth-section {
  margin-top: 100px;
  height: 700px;
  background-color: $secondary-color;
  .process {
    margin-top: 100px;
    .item {
      display: flex;
      flex-direction: column;
      .icon {
        i,
        span {
          color: $primary-color;
        }
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        span {
          position: absolute;
          bottom: 55px;
          right: 135px;
          background-color: white;
          border-radius: 50%;
          padding: 3px;
          box-shadow: 0 0 10px #cccccc;
          font-size: 14px;
        }
      }
    }
  }
}

#sixth-section {
  @include clearfix;
  .skill-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    .image-box {
      position: relative;
      .image1 {
        z-index: -1;
        position: absolute;
        top: 20px;
        left: 30px;
        margin-right: 20%;
        border: 10px solid #ffffff;
        box-shadow: 0 0 10px #cccccc;
        max-width: 80%;
      }
      .image2 {
        position: absolute;
        top: 240px;
        left: 362px;
        border: 10px solid #ffffff;
        box-shadow: 0 0 10px #cccccc;
        max-width: 60%;
      }
    }
  }
}
// buttons have been changed with the help of after and hover effect
#eighth-section {
  background-color: $secondary-color;
  margin-top: 100px;
  .heading {
    font-family: sans-serif;
    margin-bottom: 50px;
    i {
      text-align: center;
      padding: 5px;
      border-radius: 50%;
      border: 1px dashed white;
    }
  }
  .head-item {
    .item {
      box-shadow: 0 0 10px #cccccc;
      background: #ffffff;
      border-radius: 10px;
      .thumb {
        a {
          position: relative;
          span {
            background-color: white;
            position: absolute;
            top: 120px;
            left: 40px;
            width: 60px;
            text-align: center;
            color: black;
            font-weight: 600;
            line-height: 27px;
            box-shadow: 0 0 10px #cccccc;
            border-radius: 5px;
          }
        }
      }
      .info {
        padding: 30px;
        padding-top: 55px;
        a {
          margin-top: 12px;
          position: relative;
        }
        .meta {
          margin-top: 50px;
          p {
            font-family: monospace;
          }
        }
      }
    }
  }
}

#testimonial-section {
  .testimonial .item {
    height: 30rem;
    background: whitesmoke;
    padding: 1rem;
    line-height: 70px;

    span::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 540px;
      opacity: 0.3;
      border-radius: 50%;
      padding: 30px;
      background-color: yellowgreen;
    }
  }
}

///cards has been changed with the help of after and hover effect
///spining circle image has been added
///Sliding overlay has been added to
#range {
  position: relative;
  .image{
    position: absolute;
    right: 30px;
    top: -60px;
   
    -webkit-animation: spin 3s linear infinite;
  }
  .body {
    .items {
      display: flex;
      .box {
        box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
        padding: 50px 30px;
        background: #ffffff;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 5px;
        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          height: 0%;
          width: 100%;
          background: linear-gradient(to bottom, #437eeb 0%, #093ac1 100%);
          opacity: 0;
          z-index: -1;
          transition: all 0.25s ease-in-out;
        }
        .item {
          margin-top: 80px;

          img {
            max-width: 110px;
          }
        }
      }
      .box:hover {
        color: white;
        &::after {
          height: 100%;
          opacity: 1;
        }
      }
    }
  }
}
// isotope type mechanism has been added from bootstrap
#third-section {
  .center-tabs {
    ul {
      text-align: center;
      list-style: none;

      li {
        display: inline-block;
        margin-left: 30px;
        a {
          display: block;
          border: none;
          border-radius: 5px;
          padding: 10px 25px;
          position: relative;
          z-index: 1;
          background: linear-gradient(
            90deg,
            rgba(30, 85, 189, 1) 0%,
            rgba(67, 126, 235, 1) 100%
          );
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  .tab {
    display: flex;
  }
}

// counter js plugin has been added
#fourth-section {
  height: 400px;
  background: url("http://thememine.net/themeforest/anada/assets/img/map.svg");
 
  
  h1 {
    color: $primary-color;
  }
}

@-webkit-keyframes spin{
  100%{-webkit-transform: rotate(360deg);
  }
}