/// this page has its default css settings.
#services {
  background-color: $secondary-color;
  ul {
    list-style: none;
    line-height: 40px;
  }
  .services-content {
    p {
      color: $text-color;
    }
    img {
      max-width: 95%;
    }
  }
  .icon-info {
    display: flex;
    flex-wrap: nowrap;
  }
  .services-sidebar{
      .sidebar-item{
        padding: 30px;
        background: #fafafa;
        padding-top: 0;
        margin-top: 25px;
        margin-bottom: 60px;
        .icon-info{
            .icon{
                i{
                    color: $primary-color;
                }
            }
        }
          h4{
            background: linear-gradient(90deg, rgba(30,85,189,1) 0%, rgba(67,126,235,1) 100%);
            color: #ffffff;
            text-align: center;
            padding: 16px;
            font-weight: 800;
            font-size: 20px;
            position: relative;
            top: -25px;
          }
          a{
              line-height: 35px;
              text-decoration: none;
              color: black;
              
          }
      }
  }

  .services-content .topic{
    border:1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    .title{
        cursor: pointer;
    }
    .content{
        display: none;
      
    }
    }
}

#main-content3{
  @extend #main-content
}
#foot3{
  @extend #foot
}
#header4{
  @extend #header
}
