#services2{
    margin-top: 50px;
   display: flex;
   flex-wrap: nowrap;
   background-image: linear-gradient(90deg, rgba(2,59,166,1) 0%, rgba(67,126,235,1) 100%);
    background-color: #437eeb;
    color: white;
   .info{
       margin-top: 100px;
   }
   img{
       width:130%;
   }
}