
/// this page has its default css settings.
#services{
    background-color: $secondary-color;
    ul{
        list-style: none;
        line-height: 40px;
    }
    .services-content{
        
       p{
           color: $text-color;
       }
        img{
            max-width: 95%;
        }
    }
    .icon-info{
        display: flex;
        flex-wrap: nowrap;
    }
}